node_modules
dist
build
.git*

**/node_modules
**/dist

# Игнорируем build везде кроме UI
packages/server/build
packages/osmi-ai-components/build
packages/api-documentation/build

# packages/server/.env
# packages/ui/.env
