services:
  startai_app:
    container_name: startai_app
    build:
      context: .
      dockerfile: Dockerfile.dev
    depends_on:
      - promtail
    restart: unless-stopped
    environment:
      - PORT=3020
    volumes:
      - /root/.startai_app/:/root/.flowise/
    network_mode: host

  promtail:
    image: grafana/promtail:latest
    container_name: promtail
    ports:
      - "9080:9080"
    volumes:
      - /var/lib/docker/containers:/var/lib/docker/containers:ro
      - /var/run/docker.sock:/var/run/docker.sock
      - ./metrics/promtail/promtail.yaml:/etc/promtail/config.yml
    command: -config.file=/etc/promtail/config.yml
    privileged: true
    restart: unless-stopped

