services:
  osmi-ai-develop:
    container_name: osmi-ai-develop
    image: osmi-ai-develop:latest
    build:
      context: .
      dockerfile: Dockerfile
    restart: unless-stopped
    ports:
      - "3020:3000"
    environment:
      - PORT=3000
    volumes:
      - osmi-develop-data:/home/appuser/.osmi-ai/

  omsiai-app-worker:
    container_name: osmi-ai-app-worker
    image: osmi-ai-app-worker:latest
    build:
      context: .
      dockerfile: Dockerfile
      args:
        UID: 1023
        GID: 1023
    restart: always
    ports:
      - "3021:3000"
    command: ["pnpm", "run", "start-worker"]
volumes:
  osmi-develop-data:
    driver: local

